.payCard{display: flex; flex-direction: row; width: 65%; height: 10%; margin: 25%; justify-content: space-between; border-radius: 5px; background-color: white;}

.payCardContainer{ display: flex; justify-content: space-between; align-items: center; width: 95%; height: 40px; margin: auto;}